{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <!-- storing notes to display on Notes page -->
      {% for note in notes %}
        <div class="col-md-3">
            <a href="{% url 'notes_detail' note.id %}">
                <div class="card">
                    <div class="card-header">{{note.title}}</div>
                    <div class="card-body">{{note.desc}}</div>
                    <div class="card-footer mt-auto "><a href="{% url 'delete_note' note.id %}">
                        <i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
                <br>
                    <form action="{% url 'shareNote' note.id %}" method = "POST">
                      {% csrf_token %}
                      <label for="shared_user">Select a user</label>
                      <select name="shared_user" id="shared_user">
                        {% for opt_user in all_users %}
                        {% if opt_user.id != user.id %}
                        <option value={{opt_user.id}}>{{opt_user.username}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      <br><br>
                      <input type="submit" value="Submit">
                    </form>
            </a>
        </div>
        {% endfor %}
        <br><br>

    </div>
</div>
<br><br>
<br><br>
<br><br>
<div class="container">
    <form method="POST">
      {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>
        {{form|crispy}}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>

{% endblock content %}
