{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h2>{{notes.title}}</h2>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{notes.desc}}
            </p>
            <hr>
        </div>

    </div>

</section>

{% endblock content %}
