{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Django has an inbuilt signin, signout and register packge -->
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Sign In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign In
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div>

{% endblock content %}
